<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sandclan.retrocollection">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ListGamesActivity"
            android:label="@string/title_activity_list_games"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.GameContentProvider"
            android:authorities="br.com.sandclan.retrocollection.data"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".ui.GameDetailActivity"
            android:label="@string/title_activity_game_detail"
            android:parentActivityName=".ui.ListGamesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.sandclan.retrocollection.ui.ListGamesActivity" />
        </activity>
    </application>

</manifest>